body {
    margin: 0;
    font-size: 0;
}

h2 {
    width: 200px;
    height: 150px;
    /* padding: 10px; */
    /* padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 50px;
    padding-left: 70px; */
    /* padding: 10px 20px 30px 40px; */
    /* padding: 10px 50px; */
    padding: 1em 30px 50px;
    /* border: 1em dotted red; */
    border-top: 5px solid green;
    border-bottom: 10px dotted red;
    border-left: 15px dashed blue; 
    

    margin: 80px 50px 20px;
}

.div1, .div2 {
    font-size: 10px;
    height: 200px;
    width: 40%;
    display: inline-block;
    box-sizing: border-box;
    margin: 5%;

}

.div1 {
    /* background-color: blue; */
    border: 10px dashed red;
    
    
}

.div2 {
    /* background-color: rgb(245, 131, 131); */
    border: 10px dashed blue;
}

.div3 {
    font-size: 15px;
    width: 100%;
    border: 10px dashed yellow;
    height: 200px;
    box-sizing: border-box;
    padding-left: 20%;
    padding-right: 20%;
}

p {
    text-align: center;
}